body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}
.menubar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}
.logo{
    color: tomato; 
}
.home{
    background-color: tomato;
    border-radius: 5px;
    padding: 2px;
}
.bannar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    background-color: rgb(36, 34, 34);
}
.b-right{
    position: relative;

}
.ban-header{
    color: white;
}
.italic{
    font-style: italic;
}
.btn-p{
    background-color: tomato;
    padding: 10px;
    border-radius: 10px;
    color: white;

}
.btn-s{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}
.a-1{
    color: white;
    border: 1px solid white;
    width: 200px;
    position: absolute;
    top: 100px;
    right: 0;
    border-radius: 10px;
    text-align: center;
}
.a-2{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    border: 1px solid white;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 0;
    border-radius: 10px;
    
}
.tomato-dot{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: tomato;
}
.change-habit-container{
    text-align: center;
}
.change-habit-Header{
    color: white;
}
.change-habit-templete{
    display: flex;
    gap: 20px;
    justify-content: center;
    color: white;
   
}
.change-habit-templete img{
     border-radius: 50%;
}
.run-section-container{
    display: flex;
    align-items: center;
    width: 60%;
    padding: 30px;
    margin: 20px auto ;
    background-color: rgb(92, 86, 86);
}
.run-section-header{
    color: white;

}
.run-section-img img{
    
    width: 100%;
    border-radius: 10px;
}
img{
    width: 100%;
}
table,th,td{
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
}
.table-header{
    color: white;
}
.table-section{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 200px;
}
h1,h6{
    color: white;
}
.met-section-header{
    text-align: center;
}
.gird-item{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    width: 60%;
    margin: auto;
    gap: 20px;
}
.item img{
    width: 100%;
    height: 100%;  
    border-radius: 10px;
}
.footer-section{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    margin: 100px auto 10px;
    width: 60%;
    background-color: rgb(14, 14, 14);
    align-items: center;
    padding: 20px;
    
}

.copyright{
    text-align: center;
}
.icon{
    display: none;
}
@media screen and (max-width:576px) {
    .menu{
        display: none;
    }
    .icon{
        display: block;
        background-color: white;
        padding: 5px;
    }
    .bannar-container{
        flex-direction: column;
        padding: 20px;
        width: 90%;
    }
    .change-habit-templete{
        flex-direction: column;
    }
    .run-section-container{
        flex-direction: column;
        margin: auto;
    }
    .table-section{
        flex-direction: column;
    }
    .gird-item{
        grid-template-columns: repeat(1 ,1fr);
    }
    .footer-section{
        grid-template-columns: repeat(1 ,1fr);
    }
    
}